services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: luizfelipeeluizgustavo
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: provajava2
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
